# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.python-version
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Data / Artifacts
data/
datasets/
models/
outputs/
logs/
wandb/

# Build / Cache
dist/
build/
.mypy_cache/
.pytest_cache/

# IDE
.vscode/
.idea/
